<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         stopOnError="true"
         stopOnFailure="true"
         processIsolation="true"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/*</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix="Test.php">tests/*</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="tests/TestReports/clover.xml" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-html" target="tests/TestReports/html" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-text" target="tests/TestReports/coverage.txt" lowUpperBound="35" highLowerBound="70" />
        <log type="testdox-html" target="tests/TestReports/testdox.html" lowUpperBound="35" highLowerBound="70"/>
    </logging>
</phpunit>